li,body{
	font-size: 10.5pt; 
	text-align: justify;
}

h1{
  font-family: "Tahoma";
  font-size: 11pt;
}

a#orgfordiacide-introLink img { background-image : url(graphics/sample.gif); }
a#orgfordiacide-introLink:hover img { background-image : url(graphics/sample_hov.gif); }

/*style for links in the web content section of the intro */
a#orgfordiacide-webLink img { background-image : url(graphics/link_obj.gif); }
