
/* for print media */

.heading
{
  line-height: 2em;
  background-color: white;
  border-bottom: 1px solid gray;
}

body
{
  color: black;
  background-color: white;
  font: 10pt times, serif;
}

.code-block
{
  font-family: monospace;
  font-size: 8pt;
  white-space: pre;
  border: thin solid gray;
  margin: 1em 1em 2em 1em;
  padding: 0 1em;
  background-color: white;
}

.comment
{
  font-style: italic;
  color: green;
  display: inline;
}

.keyword
{
  color: purple;
  display: inline;
}

.datatype
{
  color: blue;
  display: inline;
}

.oldcode
{
  color: gray;
  display: inline;
}
