/* stylesheet */

body
{
  color: black;
  background-color: white;
  background-image: url("./Images/CwrBg.png");
  font: 10pt ariel, helvetica, sans-serif;
  margin: 0;
}

code
{
  font-size: 10pt;
}

.code-block
{
  font-family: monospace;
  font-size: 10pt;
  white-space: pre;
  border: thin solid gray;
  margin: 1em 1em 2em 1em;
  padding: 0 1em;
  background-color: white;
}

.comment
{
  font-style: italic;
  color: green;
  display: inline;
}

.keyword
{
  color: purple;
  display: inline;
}

.datatype
{
  color: blue;
  display: inline;
}

.string
{
  color: red;
  display: inline;
}

.oldcode
{
  color: gray;
  display: inline;
}

/* how to 'inherit' from code-block? */
.code-block-tiny
{
  font-family: monospace;
  font-size: 8pt;
  white-space: pre;
  border: thin solid gray;
  margin: 1em 1em 2em 1em;
  padding: 0 1em;
  background-color: white;
}

a:link { color: blue; }
a:visited { color: purple; }
a:active { color: red; }

.heading
{
 font: 18pt bold Verdana, ariel, sans-serif;
 font-weight: bold;
 line-height: 160px;
 font-size: 18pt;
 background-color: #33aaff;
 text-align: center;
 vertical-align: middle;
}

.main-body
{
  margin: 1em;
}

.footer
{
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
  padding-top: 0.5em;
}
