/* Copyright Lucy Electric 2014. All rights reserved. */

/* This file is used by the WebStarter pages for the Gemini 3 Configuration Tool.
------------------------------------------------------------------------------*/

/* ~Lucy colours
------------------------------------------------------------------------*/
/* Lucy light blue #1D54A5; */
/* Lucy dark blue #002F65; */
/* Lucy grey #9A999A; */

/* ~Page elements
------------------------------------------------------------------------*/
	html, body {
	width: 700px;
	height: auto;
	padding: 5pt 0 0 0; 	/* top right bottom left */
	font-family: Segoe UI, Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; /* Font stack from http://cssfontstack.com/ */
	font-size: 10pt;
}

.wrapper {
	margin: 30pt 0 0 8pt;
}

.footer {
    font-size: 12px;
	color: #9A999A;
	margin: 20pt 0 20pt 11pt;
}

/* ~Headings and text
------------------------------------------------------------------------*/
a, a:link, a:visited {
	font-weight: bold;
	text-decoration: none; 
	color: #002F65; 
}

a:hover {
    text-decoration: underline;
}

h3, p, ul, ol {
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
}

code { /* character style */
	font-family: Consolas, Courier New, Courier, monospace;
}

.subhead {
	border-top-style: solid;
	border-top-color: #002F65;
	border-width: 1px;
	padding:5pt 0 0 0;
}

.note { 
	border: #ccc dotted 1px;
	background-color: #fffff1;
	padding: 4px;
}

/* Buttons and links table on Home page
------------------------------------------------------------------------*/
table.buttons {
	border-collapse: collapse;
	width: 682px;
	margin-left: 5px;
}

td {
	vertical-align: top;
	text-align: left;
	border-top: #E0E0E0 solid 1px;	
	border-bottom: #E0E0E0 solid 1px;	
	padding: 5pt 0 5pt 0;
	background: #f9fcff; 
}

td > p, a {
margin: 3pt 0 3pt 10pt;
}

a > img {
margin-left: -10pt;
}

/* Lists
------------------------------------------------------------------------*/
ol > ul {
list-style-type: square;
margin-bottom: 0;
margin-left: -15pt;
}

ol {
margin-left: -15pt;
}

ul {
margin-left: -25pt;
}

/* Dropdowns
------------------------------------------------------------------------*/
.collapsed {
	display: none;
	width: auto;
	padding-left: 17px; /* Content indent */
}
	
.dropdown_link {
	margin-top: 10px;
	margin-bottom: 0;		
}

.child_list {
	line-height: 150%;
	margin-top: 10px;
}

ul.child_list > p {
	margin-top: -10pt;
}
